language: python
python:
  - "3.8"
# command to install dependencies
install:
  - pip install -r ./requirements.txt
# command to run tests
script:
  - pylint ./src/data/make_dataset.py
  - pylint ./src/kibana/
  - pylint ./src/data/scripts/
  - pylint ./src/visualization/
  - pylint ./src/features/
  - pylint ./src/utils/
